{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CareCollective-Donate-It-All</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css'  %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">



<style>
body {
    color: #777777;
    font-weight: 500;
    background: #ffffff;
    font-family: 'Quicksand', sans-serif;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #4a4c70;
}

a {
    color: #4a4c70;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #5cb85c;
    text-decoration: none;
}

</style>
    </head>

    <body>
        <!-- Top Bar Start -->
        <div class="top-bar d-none d-md-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="top-bar-left">
                            <div class="text">
                                <i class="fa fa-phone-alt"></i>
                                <p>Joana Jopson</p>
                            </div>
                            <div class="text">
                                <i class="fa fa-envelope"></i>
                                <p>imca-287@scmsgroup.org</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="top-bar-right">
                            <div class="social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a href="index.html" class="navbar-brand">CareCollective</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                        <a href="{% url 'donor_register' %}" class="nav-item nav-link">Become A Donor</a>
                        <a href="{% url 'user_register' %}" class="nav-item nav-link">Need Help?</a>
                        <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->
        
        
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Welcome! Login </h2>
                    </div>
                    <div class="col-12">
                        <a href="">Login</a>
                        <a href="">Here</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        
        <!-- LOGIN START -->
        <div class="login-container">
            <div class="login-box">
                <h2>Login</h2>
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <!-- Success/Error Message Pop-up Start -->
                 {% if success %}
                 <div id="popup-box" class="popup-success">
                    <div class="popup-content">
                        <span class="close" onclick="closePopup()">&times;</span>
                        <i class="fa fa-check-circle"></i>
                        <h2>Successful</h2>
                        <p>{{ success }}</p>
                     </div>
                    </div>
                    {% elif error %}
                    <div id="popup-box" class="popup-error">
                        <div class="popup-content">
                            <span class="close" onclick="closePopup()">&times;</span>
                            <i class="fa fa-times-circle"></i>
                            <h2>Unsuccessful</h2>
                            <p>{{ error }}</p>
                        </div>
                    </div>
                    {% endif %}
                <!-- Success/Error Message Pop-up End -->
                <div class="signup-options">
                    <p>Don't have an account?</p>
                    <a href="{% url 'user_register' %}">
                        <i class="fas fa-user"></i> Sign Up as User
                    </a>
                    <a href="{% url 'donor_register' %}">
                        <i class="fas fa-hand-holding-heart"></i> Sign Up as Donor
                    </a>
                </div>
            </div>
        </div>
        
        <!---LOGIN END-->
                            

        <!-- Back to top button -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/counterup/counterup.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/parallax/parallax.min.js' %}"></script>
        
        <!-- Contact Javascript File -->
        <script type="text/javascript" src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'mail/contact.js' %}"></script>

        <!-- Template Javascript -->
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>
</html>
